In [1]:
#call by value and call by reference

akshay

In [3]:
# call by object reference

In [5]:
#mutable=>dictionary,list,set

In [7]:
#Immutable=>number,string,tuple,boolean

In [15]:
a=257
x=257
print(id(a),id(x))

2343791433968 2343791439856

In [34]:
### loops=> repeatitive task
## for loop
a=10
for i in range(0,a):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(8,3,-1):
    print("akshay",i)

akshay 8
akshay 7
akshay 6
akshay 5
akshay 4

In [9]:
for i in range(10,21):
    print("hey",i)

hey 10
hey 11
hey 12
hey 13
hey 14
hey 15
hey 16
hey 17
hey 18
hey 19

In [11]:
for i in range(20,9,-1):
    print("hay",i)

hay 20
hay 19
hay 18
hay 17
hay 16
hay 15
hay 14
hay 13
hay 12
hay 11
hay 10

In [29]:
for x in range(2,51):
    if(x%2==0 and x%4==0):
        print(x            ,"both divisible by 2 and 4")
    else:
        print("both not divisible by 2 and 4")

both not divisible by 2 and 4
both not divisible by 2 and 4
4 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
8 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
12 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
16 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
20 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
24 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
28 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
32 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
36 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
40 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
44 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4
48 both divisible by 2 and 4
both not divisible by 2 and 4
both not divisible by 2 and 4

In [51]:
 sum=0
for i in range(2,9):
    
    sum=sum+i
print(sum)

35

In [63]:
sum=0
for i in range(90,82,-1):
    sum =sum+i
    print(sum,i)

90 90
179 89
267 88
354 87
440 86
525 85
609 84
692 83

In [67]:
sum=0
for i in range(15,46):
    if(i%2!=0):
        sum=sum+i
        print(sum,i)

15 15
32 17
51 19
72 21
95 23
120 25
147 27
176 29
207 31
240 33
275 35
312 37
351 39
392 41
435 43
480 45

In [73]:
amount=0
count=0
for i in range(6,95):
    if(i%6==0):
        amount=amount+i
        count=count+1
        print(amount,count,i)

6 1 6
18 2 12
36 3 18
60 4 24
90 5 30
126 6 36
168 7 42
216 8 48
270 9 54
330 10 60
396 11 66
468 12 72
546 13 78
630 14 84
720 15 90

In [85]:
city="sawai madhopur"
for i in range(0,len(city)):
    print(i,city[i])

0 s
1 a
2 w
3 a
4 i
5
6 m
7 a
8 d
9 h
10 o
11 p
12 u
13 r

In [91]:
city="sawai madhopur"
for i in range(0,len(city)):
    if(city[i]=='a' or city[i]=="e" or city[i]=="i" or city[i]=="o" or city[i]=="u") :
        print("vowal",i)
    else:
        print("con")

con
vowal
con
vowal
vowal
con
con
vowal
con
con
vowal
con
vowal
con