In [4]:
# call by value  ==>

In [8]:
# call by reference (memory address) ==> call of object reference(in python)

In [21]:
a=10000

z=a
print(id(a),id(z))

1858296803056 1858296803056

In [ ]:
# data type
#(a). mutable=>dict,set ,list
#(b). immutable=>int,float,string,tuple,boolean

In [31]:
# loop==>repeatitive task
# for loop, while loop
# for loop( i=0,i<condition,i++)
for i in range(1,6):
    print("akshay",i,end=" ")

akshay 1 akshay 2 akshay 3 akshay 4 akshay 5

In [43]:
for x in range(2,11):
    if(x%2==0):
        print("even",x)
    else:
        print("odd",x)

even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [49]:
for x  in range(70,81):
    if(x%2==0 or x%5==0):
        print("divisible by 2 and 5",x)
    
    else:
        print("not",x)

divisible by 2 and 5 70
not 71
divisible by 2 and 5 72
not 73
divisible by 2 and 5 74
divisible by 2 and 5 75
divisible by 2 and 5 76
not 77
divisible by 2 and 5 78
not 79
divisible by 2 and 5 80

In [55]:
sum=0
for i in range(1,6):
    sum=sum+i
    print(sum)

1
3
6
10
15

In [6]:
# get tbe sum of values 90 to 83
sum=0
for i in range(90,82,-1):
    sum=sum+i
print(sum)

692

In [16]:
# get the sum of all odd number 15 to 45
sum=0
for x in range(15,46):
    if(x%2!=0):
        print("before",x)
        sum =sum+x

print("after",sum)

before 15
before 17
before 19
before 21
before 23
before 25
before 27
before 29
before 31
before 33
before 35
before 37
before 39
before 41
before 43
before 45
after 480

In [20]:
sum=0
count=0
for i in range(1,96):
    if(i%6==0):
        count+=1
        sum=sum+i
print(sum,count)

720 15

In [45]:
x="sawai madhopur"
for i in range(0,len(x)):
    if(x[i]=="a" or x[i]=="e" or x[i]=="o") :
        print(x[i],i)

a 1
a 3
a 7
o 10