In [1]:
x=int(input("enter your values"))
while x>1:
    rem=x%10
    x=x//10
    print(rem,x)

enter your values 878

8 87
7 8
8 0

In [2]:
# break and continue
for i in range(1,5):
    if(i==3):
        break
    print(i)
        
print("outside")

1
2
outside

# progrme to check a number is prime or not ?
num=int(input("enter your number"))
z=0
for i in range(2,num):
    if(num%i==0):
        z=1
        break
if(z==0):
    print("prime number")
else:
    print("not prime number")

# using function 
def prime(num):
    
    z=0
    for i in range(2,num):
        if(num%i==0):
            z=1
            break
    if(z==0):
            print("prime number")
    else:
            print("not prime number")
num=int(input("enter your number"))
prime(num)

# continue
for i in range(1,5):
    if(i==3):
        continue
    print(i)

In [6]:
# While loop-->based on certain condition
num=10
while(num>0):
    print("akshay",num)
    num=num-1

akshay 10
akshay 9
akshay 8
akshay 7
akshay 6
akshay 5
akshay 4
akshay 3
akshay 2
akshay 1

In [26]:
num=11
while(num==10):
    if(num%2==0):
        print("even")
    else:
        print("odd")
num+=1

In [28]:
# print number from 1 to 5 
for i in range(1,6):
    print(i)

1
2
3
4
5

In [30]:
# print squares of numbers from 1 to5
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [40]:
# print even number from 1 to 10
for i in range(1,11):
    if(i%2==0):
        print("even",i,end=" ")
    else:
        print("odd",i,end=" ")

odd 1 even 2 odd 3 even 4 odd 5 even 6 odd 7 even 8 odd 9 even 10

In [58]:
#calculate  sum of number from  1 to 10
sum=0
for i in range(1,11):
   
    sum+=i
    
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [64]:
# reverse a word
word="akshay sharma"
for i in range(len(word)-1,-1,-1):
    print(word[i],end=" ")

a m r a h s   y a h s k a

In [72]:
vowel="aeiou"
word="akshay sharma"
count=0
for char in word:
    if char in vowel:
        count+=1
print(f"total vowel in {word} is {count}")

total vowel in akshay sharma is 4

In [74]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4