In [20]:
for i in range(1,5):
    print("person",i)
    for j in range(1,5):
        print("good morning=>","i:",i,"j:",j)
  
print("out side the loop")

person 1
good morning=> i: 1 j: 1
good morning=> i: 1 j: 2
good morning=> i: 1 j: 3
good morning=> i: 1 j: 4
person 2
good morning=> i: 2 j: 1
good morning=> i: 2 j: 2
good morning=> i: 2 j: 3
good morning=> i: 2 j: 4
person 3
good morning=> i: 3 j: 1
good morning=> i: 3 j: 2
good morning=> i: 3 j: 3
good morning=> i: 3 j: 4
person 4
good morning=> i: 4 j: 1
good morning=> i: 4 j: 2
good morning=> i: 4 j: 3
good morning=> i: 4 j: 4
out side the loop

In [26]:
for i in range(1,5):
    print("person",i)
    for j in range(5,0,-1):
        print("good morning",i,j)

person 1
good morning 1 5
good morning 1 4
good morning 1 3
good morning 1 2
good morning 1 1
person 2
good morning 2 5
good morning 2 4
good morning 2 3
good morning 2 2
good morning 2 1
person 3
good morning 3 5
good morning 3 4
good morning 3 3
good morning 3 2
good morning 3 1
person 4
good morning 4 5
good morning 4 4
good morning 4 3
good morning 4 2
good morning 4 1

In [34]:
for i in range(1,5):
    print("person",i)
    for j in range(1,i+1):
        print("good morning",j)

person 1
good morning 1
person 2
good morning 1
good morning 2
person 3
good morning 1
good morning 2
good morning 3
person 4
good morning 1
good morning 2
good morning 3
good morning 4

In [38]:
for i in range(5,0,-1):
    print("person",i)
    for j in range(6,i,-1):
        print("good morning",j)

person 5
good morning 6
person 4
good morning 6
good morning 5
person 3
good morning 6
good morning 5
good morning 4
person 2
good morning 6
good morning 5
good morning 4
good morning 3
person 1
good morning 6
good morning 5
good morning 4
good morning 3
good morning 2

In [60]:
for i in range(1,11):
    
    for j in range(1,11):
        print(i*j )

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [68]:
for i in range(1,11):
    if (i%2==0):
        print("even number",i)
        for j in range(1,11):
            print(i*j)

even number 2
2
4
6
8
10
12
14
16
18
20
even number 4
4
8
12
16
20
24
28
32
36
40
even number 6
6
12
18
24
30
36
42
48
54
60
even number 8
8
16
24
32
40
48
56
64
72
80
even number 10
10
20
30
40
50
60
70
80
90
100

1 2 3 4
1 2 3 4
1 2 3 4

In [82]:
for n in range(2,12):
    cond=0
    for i in range(1,n):
        if(n%2==0):
            cond=1
            break
    if(cond==0):
        print("prime number",n)
    else:
        print("not prime",n)

not prime 2
prime number 3
not prime 4
prime number 5
not prime 6
prime number 7
not prime 8
prime number 9
not prime 10
prime number 11

In [92]:
n=153
total=0
while(n>0):
    print("before number",n)
    rem=n%10
    n=n//10
    total=total+rem**3

if(n==total):
    print("Armstrong",n)
else:
    print("not armstrong",n)

before number 153
before number 15
before number 1
not armstrong 0

In [96]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end="")
    print()

****
****
****
****

In [100]:
for i in range(1,3):
    for j in range(1,5):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2

In [102]:
for i in range(3,6):
    for j in range(1,4):
        print(i,end=" ")
    print()

3 3 3
4 4 4
5 5 5

In [104]:
for i in range(5,1,-1):
    for j in range(1,4):
        print(i,end=" ")
    print( )

5 5 5
4 4 4
3 3 3
2 2 2

In [107]:
for i in range(1,4):
    for j in range(1,4):
        print(j,end=" ")
    print()

1 2 3
1 2 3
1 2 3

In [115]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [135]:
a=1
for i in range(1,4):
  
    for j in range(1,5):
    
        print(a,end=" ")
        a+=1
    print( )

1 2 3 4
5 6 7 8
9 10 11 12

In [157]:

for i in range(1,4):
    a=65
    for j in range(1,4):
        print(j,end=" ")
       
    print()

1 2 3
1 2 3
1 2 3

In [8]:
a=65
for i in range(1,4):
    for j in range(1,4):
        print(chr(a),end=" ")
        a+=1
    print( )

A B C
D E F
G H I

In [10]:
for i in range(65,68):
    for j in range(65,68):
        print(chr(j),end=" ")
    print( )

A B C
A B C
A B C

In [14]:
for i in range(4,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print( )

* * * *
* * *
* *
*

In [16]:
a=10
for i in range(1,4):
    for j in range(1,i+1):
        print(a,end=" ")
        a+=1
    print( )

10
11 12
13 14 15

In [18]:

for i in range(1,5):
    a=10
    for j in range(1,i+1):
        print(a,end=" ")
        a+=1
    print( )

10
10 11
10 11 12
10 11 12 13

In [36]:
for i in range(1,6):
    for j in range(1,i+1):
        if j%2 ==1:
            print("1",end=" ")
        else:
            print("2",end= " ")
    print( )

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [38]:
for i in range(4,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print( )

1 2 3 4
1 2 3
1 2
1

In [42]:

for i in range(1,5):
    a=65
    for j in range(1,i+1):
        print(chr(a),end=" ")
        a+=1
    print( )

A
A B
A B C
A B C D

In [52]:
a=70
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(a),end=" ")
        a+=2
    print( )

F
H J
L N P
R T V X

In [60]:

for i in range(1,5):
    a=68
    for j in range(1,i+1):
        print(chr(a),end=" ")
        a-=1
    print( )

D
D C
D C B
D C B A

In [8]:

for i in range(4,0,-1):
    a=68
    for j in range(i,0,-1):
        print(chr(a),end=" ")
        a-=1
    print()

D C B A
D C B
D C
D

In [21]:
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print("-",end=" ")
    for k in range(i,0,-1):
        print("*",end=" ")
    print()

* * * * *
- * * * *
- - * * *
- - - * *
- - - - *

In [23]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )

*
* *
* * *
* * * *
* * * * *

In [25]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print( )

1
1 2
1 2 3
1 2 3 4

In [27]:
a=1
for i in range(1,5):
    for j in range(1,i+1):
        print(a,end=" ")
        a+=1
    print( )

1
2 3
4 5 6
7 8 9 10

In [29]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print( )

* * * * *
* * * *
* * *
* *
*

In [37]:

for i in range(4,0,-1):
    a=65
    for j in range(i,0,-1):
        print(chr(a),end=" ")
        a+=1
    print( )

A B C D
A B C
A B
A

In [39]:
for  i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print( )

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [47]:

for i in range(4,0,-1):
    a=4
    for j in range(i,0,-1):
        print(a,end=" ")
        a-=1
    print()

4 3 2 1
4 3 2
4 3
4

In [69]:
for i in range(5,0,-1):
    a=1
    for j in range(i,0,-1):
        print(a,end=" ")
        a+=1
    print( )

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [75]:
for i in range(6,0,-1):
    a=70
    for j in range(i,0,-1):
        print(chr(a),end=" ")
        a-=1
    print()

F E D C B A
F E D C B
F E D C
F E D
F E
F

In [19]:
for i in range(5,2,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )

* * * * *
* * * *
* * *

In [23]:
for i in range(5,0,-2):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )

* * * * *
* * *
*

In [25]:
for i in range(1,6,2):
    for j in range(1,i+1):
        print("*",end=" ")
    print( )

*
* * *
* * * * *

In [27]:
for i in range(1,6,2):
    for j in range(1,i+1):
        print(i,end=" ")
    print( )

1
3 3 3
5 5 5 5 5

In [49]:
a=5
for i in range(1,3):
    for j in range(1,i+1):
        print(a,end=" ")
        a-=1
    print( )

5
4 3